{
  "extends": "eslint-config-airbnb",
  "rules": {
    "keyword-spacing": ["error", { "overrides": {
      "if": { "after": false },
      "for": { "after": false },
      "while": { "after": false }
    } }],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "func-names":"off",
    "no-use-before-define":"off",
    "space-before-function-paren": "off"
  }
}
